In [50]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import seaborn as sns
import sklearn
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [51]:
df = pd.read_csv('Housing.csv')
print(df.head())

      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

FEATURE SCALING

In [52]:
new_df = df.drop(columns=['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'parking', 'prefarea', 'furnishingstatus'])
print(new_df.head())

      price  area  bedrooms  bathrooms  stories
0  13300000  7420         4          2        3
1  12250000  8960         4          4        4
2  12250000  9960         3          2        2
3  12215000  7500         4          2        2
4  11410000  7420         4          1        2

In [53]:
columns_mean =new_df.mean()
print("mean of columns:")
print(columns_mean)

mean of columns:
price        4.766729e+06
area         5.150541e+03
bedrooms     2.965138e+00
bathrooms    1.286239e+00
stories      1.805505e+00
dtype: float64

In [54]:
columns_max = new_df.max()
columns_min = new_df.min()
print("columns maximum values:")
print(columns_max)

print("\ncloumns minimum values")
print(columns_min)

columns maximum values:
price        13300000
area            16200
bedrooms            6
bathrooms           4
stories             4
dtype: int64

cloumns minimum values
price        1750000
area            1650
bedrooms           1
bathrooms          1
stories            1
dtype: int64

MIN - MAX SCALING

In [55]:
min_maxscxaled = (new_df - columns_min) / (columns_max - columns_min)


min_max = pd.DataFrame(min_maxscxaled, columns=new_df.columns)
print (min_max.head())

      price      area  bedrooms  bathrooms   stories
0  1.000000  0.396564       0.6   0.333333  0.666667
1  0.909091  0.502405       0.6   1.000000  1.000000
2  0.909091  0.571134       0.4   0.333333  0.333333
3  0.906061  0.402062       0.6   0.333333  0.333333
4  0.836364  0.396564       0.6   0.000000  0.333333

In [56]:
print(min_max.min())  # Should be close to 0
print(min_max.max())  # Should be close to 1

price        0.0
area         0.0
bedrooms     0.0
bathrooms    0.0
stories      0.0
dtype: float64
price        1.0
area         1.0
bedrooms     1.0
bathrooms    1.0
stories      1.0
dtype: float64

In [57]:
from sklearn.preprocessing import MinMaxScaler
# Initialize the scaler
min_max_scaler = MinMaxScaler()

# Fit and transform the data
df_min_max_scaled = pd.DataFrame(min_max_scaler.fit_transform(new_df), columns=new_df.columns)

# Display the first few rows of the scaled dataset
print(df_min_max_scaled.head())

      price      area  bedrooms  bathrooms   stories
0  1.000000  0.396564       0.6   0.333333  0.666667
1  0.909091  0.502405       0.6   1.000000  1.000000
2  0.909091  0.571134       0.4   0.333333  0.333333
3  0.906061  0.402062       0.6   0.333333  0.333333
4  0.836364  0.396564       0.6   0.000000  0.333333

MEAN NORMALIZATION

In [58]:
columns_max = new_df.max()
columns_min = new_df.min()
print("columns maximum values:")
print(columns_max)

print("\ncloumns minimum values")
print(columns_min)

columns maximum values:
price        13300000
area            16200
bedrooms            6
bathrooms           4
stories             4
dtype: int64

cloumns minimum values
price        1750000
area            1650
bedrooms           1
bathrooms          1
stories            1
dtype: int64

In [59]:
normalized_df= (new_df - columns_mean) / (columns_max - columns_min)
print(normalized_df)

        price      area  bedrooms  bathrooms   stories
0    0.738811  0.155977  0.206972   0.237920  0.398165
1    0.647902  0.261818  0.206972   0.904587  0.731498
2    0.647902  0.330547  0.006972   0.237920  0.064832
3    0.644872  0.161475  0.206972   0.237920  0.064832
4    0.575175  0.155977  0.206972  -0.095413  0.064832
..        ...       ...       ...        ...       ...
540 -0.255128 -0.147804 -0.193028  -0.095413 -0.268502
541 -0.259704 -0.189041  0.006972  -0.095413 -0.268502
542 -0.261189 -0.105192 -0.193028  -0.095413 -0.268502
543 -0.261189 -0.153989  0.006972  -0.095413 -0.268502
544 -0.261189 -0.089384  0.006972  -0.095413  0.064832

[545 rows x 5 columns]

In [60]:
# Normalize the data
normalized_data = (new_df - columns_mean) / (columns_max - columns_min)

# Convert back to a DataFrame
normalized_df = pd.DataFrame(normalized_data, columns=new_df.columns)

# Print the normalized DataFrame with column names
print(normalized_df.head())

      price      area  bedrooms  bathrooms   stories
0  0.738811  0.155977  0.206972   0.237920  0.398165
1  0.647902  0.261818  0.206972   0.904587  0.731498
2  0.647902  0.330547  0.006972   0.237920  0.064832
3  0.644872  0.161475  0.206972   0.237920  0.064832
4  0.575175  0.155977  0.206972  -0.095413  0.064832

Z-SCORE NORMALIZATION

In [61]:
columns_std = new_df.std()


z_score_normalized = (new_df - columns_mean) / columns_std

print("Z-Score Normalized Data (Manual):")
print(z_score_normalized)

Z-Score Normalized Data (Manual):
        price      area  bedrooms  bathrooms   stories
0    4.562174  1.045766  1.402131   1.420507  1.376952
1    4.000809  1.755397  1.402131   5.400847  2.529700
2    4.000809  2.216196  0.047235   1.420507  0.224204
3    3.982096  1.082630  1.402131   1.420507  0.224204
4    3.551716  1.045766  1.402131  -0.569663  0.224204
..        ...       ...       ...        ...       ...
540 -1.575421 -0.990968 -1.307661  -0.569663 -0.928544
541 -1.603676 -1.267448  0.047235  -0.569663 -0.928544
542 -1.612845 -0.705273 -1.307661  -0.569663 -0.928544
543 -1.612845 -1.032440  0.047235  -0.569663 -0.928544
544 -1.612845 -0.599289  0.047235  -0.569663  0.224204

[545 rows x 5 columns]

CHANGING NON NUMERIC COLUMNS TO NUMERIC COLUMNS

In [62]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [63]:
# Define the columns to convert
columns_to_convert = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

# Apply the mapping
df[columns_to_convert] = df[columns_to_convert].apply(lambda col: col.map({'yes': 1, 'no': 0}))

print(df.head())

      price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0  13300000  7420         4          2        3         1          0
1  12250000  8960         4          4        4         1          0
2  12250000  9960         3          2        2         1          0
3  12215000  7500         4          2        2         1          0
4  11410000  7420         4          1        2         1          1

   basement  hotwaterheating  airconditioning  parking  prefarea  \
0         0                0                1        2         1
1         0                0                1        3         0
2         1                0                0        2         1
3         1                0                1        3         1
4         1                0                1        2         0

  furnishingstatus
0        furnished
1        furnished
2   semi-furnished
3        furnished
4        furnished

In [64]:
print(df.head())

      price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0  13300000  7420         4          2        3         1          0
1  12250000  8960         4          4        4         1          0
2  12250000  9960         3          2        2         1          0
3  12215000  7500         4          2        2         1          0
4  11410000  7420         4          1        2         1          1

   basement  hotwaterheating  airconditioning  parking  prefarea  \
0         0                0                1        2         1
1         0                0                1        3         0
2         1                0                0        2         1
3         1                0                1        3         1
4         1                0                1        2         0

  furnishingstatus
0        furnished
1        furnished
2   semi-furnished
3        furnished
4        furnished

In [65]:
df['furnishingstatus'] = df['furnishingstatus'].astype('category')
df['furnishingstatus']= df['furnishingstatus'].cat.codes
print(df.head())

      price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0  13300000  7420         4          2        3         1          0
1  12250000  8960         4          4        4         1          0
2  12250000  9960         3          2        2         1          0
3  12215000  7500         4          2        2         1          0
4  11410000  7420         4          1        2         1          1

   basement  hotwaterheating  airconditioning  parking  prefarea  \
0         0                0                1        2         1
1         0                0                1        3         0
2         1                0                0        2         1
3         1                0                1        3         1
4         1                0                1        2         0

   furnishingstatus
0                 0
1                 0
2                 1
3                 0
4                 0